/* ****************** */
/* ****************** */
/* ******General***** */
/* ****************** */
/* ****************** */
#projet1{
  background-attachment: local;
  background-repeat: no-repeat;
}

#projet2{
  background-attachment: local;
  background-repeat: no-repeat;
}

#projet3{
  background-attachment: local;
  background-repeat: no-repeat;
}

#projet4{
  background-attachment: local;
  background-repeat: no-repeat;
}

#projet5{
  background-attachment: local;
  background-repeat: no-repeat;
}
.site_projets{
  width: 100vw;
}


/* ****************** */
/* ****************** */
/* ******400px******* */
/* ****************** */
/* ****************** */


@media screen and (max-width: 400px) {

/* ****************** */
/* ******debut******* */
/* ****************** */


h1.titleProjets{
  text-align: center;
}

section.site__projets{
  display: grid;
  justify-items: center;
  align-content: space-around;
}
  

/* *********************************** */
/* ******display texte et titre******* */
/* *********************************** */

#titleprojDiv21, 
#titleprojDiv23, 
#titleprojDiv25 {
    visibility: hidden;
    color: #c4e7d4;
    font-size: 20px;
    left: -105%;
    position: relative;
  }
#titleprojDiv22, 
#titleprojDiv24{
    visibility: hidden;
    color: #c4e7d4;
    font-size: 20px;
    right: -110%;
    position: relative;
  }

  #titleprojDiv21.show1,
  #titleprojDiv23.show1, 
  #titleprojDiv25.show1,
  #titleprojDiv22.show1,
  #titleprojDiv24.show1 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }


  .article 
  #projTextprojDiv21, 
  #projTextprojDiv23, 
  #projTextprojDiv25 {
    visibility: hidden;
    width: 140px;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    left: -105%;
    font-size: 12px;
  }
  
  .article 
  #projTextprojDiv22, 
  #projTextprojDiv24 {
    visibility: hidden;
    width: 140px;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    right: -105%;
    font-size: 12px;
  }
  

  .article 
  #projTextprojDiv21.show1, 
  #projTextprojDiv23.show1, 
  #projTextprojDiv25.show1,
  #projTextprojDiv22.show1, 
  #projTextprojDiv24.show1 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

  }

/* *********************************** */
/* ******display Div projet*********** */
/* *********************************** */
  
  #projDiv21.activ, 
  #projDiv23.activ, 
  #projDiv25.activ  {
  transform: translateX(80px);
  }
  #projDiv22.activ2,
  #projDiv24.activ2 {
  transform: translateX(-80px);
  }
      
   
.article {
  height: 240px;
  width: 150px;
  background-color: #030027;
  border-radius: 10px;
  transition: 0.4s ease-out;
  left: 0px;
  box-shadow: 3px 2px 50px rgb(202, 245, 255);
  margin-bottom: 5vh;
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.article img{
  top: 0;
  position: absolute;
  height: -webkit-fill-available;
  border-radius: 10px;
}


  div.cont-projet {
    display: grid;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    height: 80vh;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }


/* elements sans  dispaly */

  .plus{
    display: none;
  }
  .plus2{
    display: none;
  }


  .carreBleu{
    display: none;
  }

  .carreBleu2{
    display: none;
  }
}




/* ****************** */
/* ****************** */
/* ******700px******* */
/* ****************** */
/* ****************** */

@media (min-width: 401px) and (max-width: 700px) {
  section.site__projets{
    display: grid;
    justify-items: center;
    align-content: space-around;
  }

  .article {
    height: 240px;
    width: 150px;
    background-color: #030027;
    border-radius: 10px;
    transition: 0.4s ease-out;
    left: 0px;
    box-shadow: 3px 2px 50px rgb(202, 245, 255);
    margin-bottom: 5vh;
    position: relative;
    display: inline-block;
    cursor: pointer;

  }
  
  .article img{
    top: 0;
    position: absolute;
    height: -webkit-fill-available;
    border-radius: 10px;
  }


  /* ************************ */
  /* ******Texte************* */
  /* ************************ */

  div.article p.texte{
    display: none;
  }

  #titleprojDiv21,
  #titleprojDiv23, 
  #titleprojDiv25{
    visibility: hidden;
    color: #c4e7d4;
    font-size: 20px;
    left: -105%;
    position: relative;
  }
  
  #titleprojDiv22,
  #titleprojDiv24 {
    visibility: hidden;
    color: #c4e7d4;
    font-size: 20px;
    right: -115%;
    position: relative;
  }
  #titleprojDiv21.show1,
  #titleprojDiv23.show1, 
  #titleprojDiv25.show1,
  #titleprojDiv22.show1,
  #titleprojDiv24.show1 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  h1.titleProjets {
    font-family: 'Martian Mono', monospace;
    font-size: 30px;
    color:#C4E7D4;
  }
    .article 
    #projTextprojDiv21, 
    #projTextprojDiv23, 
    #projTextprojDiv25 {
    visibility: hidden;
    width: 140px;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    left: -105%;
    font-size: 12px;
  }
  
  .article 
  #projTextprojDiv22, 
  #projTextprojDiv24 {
    visibility: hidden;
    width: 140px;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    right: -105%;
    font-size: 12px;
  }
  

  .article 
  #projTextprojDiv21.show1, 
  #projTextprojDiv23.show1, 
  #projTextprojDiv25.show1 {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    .article 
    #projTextprojDiv22.show1, 
    #projTextprojDiv24.show1{
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }


    h1.titleProjets{
      text-align: center;
    }




  /* ************************ */
  /* ******Main div projet************* */
  /* ************************ */

    
  #projDiv21.activ, 
  #projDiv23.activ, 
  #projDiv25.activ  {
    transform: translateX(80px);
    }

  #projDiv22.activ2, 
  #projDiv24.activ2 {
  transform: translateX(-80px);
  }
  
      
  div.cont-projet {
    display: grid;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    height: 80vh;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }



  /* ************************ */
  /* **Elements sans display* */
  /* ************************ */
  
  .plus{
    display: none;
  }
  .plus2{
    display: none;
  }


  .carreBleu{
    display: none;
  }

  .carreBleu2{
    display: none;
  }
}




/* ****************** */
/* ****************** */
/* ******1100px******* */
/* ****************** */
/* ****************** */

@media (min-width: 701px) and (max-width: 1100px) {

  div.article p.texte{
    display: none;
  }
  section.site__projets{
    display: grid;
    justify-items: center;
    align-content: space-around;
    width: 100vw;
  }
  .article img{
    top: 0;
    position: absolute;
    height: -webkit-fill-available;
    border-radius: 10px;
  }


  h1.titleProjets {
    text-align: center;
    font-family: 'Martian Mono', monospace;
    font-size: 30px;
    color:#C4E7D4;
  }

  .activ3{
    box-shadow: 3px 2px 50px rgb(202, 245, 255);
  }

  div.cont-projet {
    display: grid;
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 0.4s ease-out;
  }



  /**************************************/
  /**************************************/
  /**************************************/
  /* chaque projet */
  /**************************************/
  /**************************************/
  /**************************************/


  #projDiv21, 
  #projDiv23, 
  #projDiv25 {
    height: 240px;
    width: 150px;
    background-color: #030027;
    border-radius: 10px;
    transition: 0.4s ease-out;
    right: 0px;
    box-shadow: 3px 2px 50px rgb(202, 245, 255);
    margin-bottom: 5vh;
    position: relative;
    display: inline-block;
    cursor: pointer;

  }

  #projDiv22, 
  #projDiv24 {
    height: 240px;
    width: 150px;
    background-color: #030027;
    border-radius: 10px;
    transition: 0.4s ease-out;
    margin-left: -80%;
    box-shadow: 3px 2px 50px rgb(202, 245, 255);
    margin-bottom: 5vh;
    position: relative;
    display: inline-block;
    cursor: pointer;

  }




 
  /**************************************/
  /**************************************/
  /**************************************/
  /* Texte descriptif de chaque projet */
  /**************************************/
  /**************************************/
  /**************************************/

  .article
  #projTextprojDiv21, 
  #projTextprojDiv23, 
  #projTextprojDiv25 {
    width: 120%;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
   
    left: -150%;
    font-size: 12px;
  }
  .article 
  #projTextprojDiv22, 
  #projTextprojDiv24{
    width: 120%;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    right: -150%;
    font-size: 12px;
  }
  
  /**************************************/
  /**************************************/
  /**************************************/
  /* Titres de projets */
  /**************************************/
  /**************************************/
  /**************************************/
  #titleprojDiv21,
  #titleprojDiv23, 
  #titleprojDiv25{
      color: #c4e7d4;
      font-size: 26px;
      left: -150%;
      position: relative;
      width: 200px
    }
    #titleprojDiv22,
    #titleprojDiv24{
      color: #c4e7d4;
      font-size: 26px;
      right: -130%;
      position: relative;
      width: 200px
    }


    #plusprojDiv21,
    #plusprojDiv23, 
    #plusprojDiv25{
      color: #c4e7d4;
      font-size: 12px;
      left: -150%;
      position: relative;
      top: -5%;
    }
    
    #plusprojDiv22,
    #plusprojDiv24{
      color: #c4e7d4;
      font-size: 12px;
      right: -130%;
      position: relative;
      top: -5%;
    }

  /**************************************/
  /**************************************/
  /**************************************/
  /* element masquant le texte */
  /**************************************/
  /**************************************/
  /**************************************/
  #carreBleuTextprojDiv21,
  #carreBleuTextprojDiv23,
  #carreBleuTextprojDiv25{
    position: relative;
    z-index: 4;
    height: 120px;
    width: 180px;
    left: -150%;
    background-color: #030027;
    transition: 1.5s;
    top: -6%;
  }


  #carreBleuTextprojDiv22,
  #carreBleuTextprojDiv24{
  position: relative;
  z-index: 4;
  height: 120px;
  width: 250px;
  right: -130%;
  background-color: #030027;
  transition: 1.5s;
  top: -6%;
  }



}



/* ****************** */
/* ****************** */
/* *****Infinite****** */
/* ****************** */
/* ****************** */



@media (min-width: 1101px) {

  div.article p.texte{
  display: none;
}

  .activ3{
    box-shadow: 3px 2px 50px rgb(202, 245, 255);
  }

  div.cont-projet {
    display: grid;
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 0.4s ease-out;
  }

  h1.titleProjets {
    text-align: center;
    font-family: 'Martian Mono', monospace;
    font-size: 30px;
    color:#C4E7D4;
  }

  /**************************************/
  /**************************************/
  /**************************************/
  /* chaque projet */
  /**************************************/
  /**************************************/
  /**************************************/

  .article{
    height: 460px;
    width: 300px;
    border-radius: 10px;
    transition: 0.4s ease-out;
    margin-bottom: 5vh;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    z-index: 6;
  }

 

 
  /**************************************/
  /**************************************/
  /**************************************/
  /* Texte descriptif de chaque projet */
  /**************************************/
  /**************************************/
  /**************************************/

  
  .article
  #projTextprojDiv21, 
  #projTextprojDiv23, 
  #projTextprojDiv25 {
    width: 120%;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
   
    left: -150%;
    font-size: 12px;
  }
  .article 
  #projTextprojDiv22, 
  #projTextprojDiv244{
    width: 120%;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 2;
    
    right: -150%;
    font-size: 12px;
  }
  

  /**************************************/
  /**************************************/
  /**************************************/
  /* Titres de projets */
  /**************************************/
  /**************************************/
  /**************************************/
  #titleprojDiv21,
  #titleprojDiv23, 
  #titleprojDiv25{
      color: #c4e7d4;
      font-size: 30px;
      left: -150%;
      position: relative;
    }
    #titleprojDiv22,
    #titleprojDiv24{
      color: #c4e7d4;
      font-size: 30px;
      right: -130%;
      position: relative;
    }


  #plusprojDiv21,
  #plusprojDiv23, 
  #plusprojDiv25{
      color: #c4e7d4;
      font-size: 16px;
      left: -150%;
      position: relative;
      top: -5%;
    }
    #plusprojDiv22,
    #plusprojDiv24{
      color: #c4e7d4;
      font-size: 16px;
      right: -130%;
      position: relative;
      top: -5%;
    }

  /**************************************/
  /**************************************/
  /**************************************/
  /* element masquant le texte */
  /**************************************/
  /**************************************/
  /**************************************/
    #carreBleuTextprojDiv21, 
    #carreBleuTextprojDiv23, 
    #carreBleuTextprojDiv25{
      position: relative;
      z-index: 4;
      height: 270px;
      width: 360px;
      left: -150%;
      background-color: #030027;
      transition: 1.5s;
      top: -6%;
    }

    #carreBleuTextprojDiv22, 
    #carreBleuTextprojDiv24{
      position: relative;
      z-index: 4;
      height: 270px;
      width: 360px;
      right: -150%;
      background-color: #030027;
      transition: 1.5s;
      top: -6%;
    }
}



  
  /* *****projet img************ */
  /* *****Images a changer pour chaque projet************ */
    #projet1 img, #projet2 img, #projet3 img, #projet4 img, #projet5 img {
      position: relative;
      width: 100%;
      display: flex;
      top: 20%;
    }

  
  
    
    .article:hover {
      transform: scale(105%);
      transition: 0.4s ease-out;
    }
    
    .article:hover ~ .article {
      position: relative;
      transition: 0.4s ease-out;
    }
    
  
    
    /* Toggle this class - hide and show the projet */
    #carreBleuTextprojDiv21.show,
    #carreBleuTextprojDiv23.show,
    #carreBleuTextprojDiv25.show {
      width: 0;
      
    }
    #carreBleuTextprojDiv22.show,
    #carreBleuTextprojDiv24.show{
      width: 0;
    }
    
    /* Add animation (fade in the projet) */
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    .premier-container-projet{
      border: #C4E7D4 2px solid;
      padding: 1%;
      z-index: 5;
      position: relative;
    }

    .cont-proj{
      border: #c4e7d4a6 2px solid;
      padding: 1%;
      margin: 1%;
      z-index: 5;
      position: relative;
    }
 
